<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity5u5u59 "sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript">
        format_mod = function(mod_num) {
            if (mod_num >= 0) {
                return "+" + mod_num.toString()
            } else {
                return mod_num.toString()
            }
        }
        calc_prof = function(level_id) {
            var level = document.getElementById(level_id).value
            var proficiency = 2;
            if (level >= 5 && level < 9) {
                proficiency = 3;
            } else if (level >= 9 && level < 13) {
                proficiency = 4;
            } else if (level >= 13 && level < 17) {
                proficiency = 5;
            } else if (level >= 17) {
                proficiency = 6;
            }
        }
        set_ability_mod = function(src_id, dest_id) {
            var ability_mod = Math.floor((Number(document.getElementById(src_id).value) - 10) / 2)
            document.getElementById(dest_id).innerHTML = "<strong>" + format_mod(ability_mod) + "</strong>"
        }
        set_skill_bonus = function(checkbox, skill_id, ability_id) {
            var ability_mod = document.getElementById(ability_id)
            var prof_bonus = 0
            if (checkbox.checked) {
                prof_bonus = calc_prof('char_level')
            }
            document.getElementById(skill_id).innerHTML = format_mod(ability_mod + prof_bonus)
        }
    </script>

    <title>Home</title>
    <style>
        table {
            border-spacing: 10px 0px;
            border-collapse: separate;
        }
        body {
            background-color: rgb(26, 26, 40);
        }
        
        input[type=text] {
            border: none;
            font-size: 20px;
            border-bottom: 1px solid gray;
        }
        
        input[type=text]:focus {
            border: 1px solid #262626;
        }
        
        input[type=number] {
            text-align: center;
            width: 45px;
            height: 35px;
            border: none;
            border-right: 1px solid gray;
        }
        
        input[type=number]:focus {
            text-align: left;
            border: 1px solid #262626;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <img src="1200px-Dungeons_&_Dragons_5th_Edition_logo.svg.png" width="100" height="45" alt="Dungeons and Dragons logo">
        </a>
        <img src="NEW_TO_DD_Classes_Ranger_T_140723.jpg" class="center avatar" alt="Image of D&D player that has logged in.">
        <span class="navbar-text">
            <a href="login" class="btn btn-outline-secondary">Log Out</a>
          </span>
    </nav>
    <br>
    <div class="container">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <header>
                        <input type="text" id="char_name" class="form-control input-lg"> <span style="color:#a0a0a0"><%= name ? name : '' %></span>
                    </header>
                </div>
                <!-- <a href="#" class="card-link">
                                <h6 class="card-subtitle mb-2 text-muted">Add Trait</h6>
                            </a> -->
                <div class="card-body">
<<<<<<< HEAD
                    <!-- <<<<<<< HEAD:S.D._Project/Front_end/homepage.html -->
                    <form class="form-inline">
=======
                    <<<<<<< HEAD:S.D._Project/Front_end/homepage.html <form class="form-inline">
>>>>>>> 3ae28395f3d3bd168879cb35e3eb7c451f886ff2
                        <div class="form-group">
                            <div class=col-5>
                                <input class="form-control" type="text" id="char_race"></input>
                                <label for="char_race">Race</label>
                            </div>
                            <div class="col-5">
                                <input class="form-control" type="text" id="char_class"></input>
                                <label for="char_class">Class</label>
                            </div>
                            <div class="col-2">
                                <input class="form-control" type="number" min="1" max="20" value="1" id="char_level" style="text-align: center; width: 60px"></input>
                                <label for="char_level">Level</label>
                            </div>
                        </div>
<<<<<<< HEAD
                    </form>
                    <!-- ======= -->
                   <!-- >>>>>>> bc0eea3af2b72c4033dd4341ccec08599c8cc731:views/homepage.ejs -->
=======
                        </form>
                        =======
                        <h5 class="card-title">
                            <input type="text" id="char_name"> <small><span style="color:#a0a0a0">Character Name</span></small>
                        </h5>
                        <!-- <a href="#" class="card-link">
                        <h6 class="card-subtitle mb-2 text-muted">Add Trait</h6>
                    </a> -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Race</th>
                                    <th scope="col">Class</th>
                                    <th scope="col">Level</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" id="char_race"></input>
                                    </td>
                                    <td><input type="text" id="char_class"></input>
                                    </td>
                                    <td><input type="number" min="1" max="20" value="1" id="char_level" style="text-align: center; width: 45px"></input>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        >>>>>>> bc0eea3af2b72c4033dd4341ccec08599c8cc731:views/homepage.ejs
>>>>>>> 3ae28395f3d3bd168879cb35e3eb7c451f886ff2
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <div class="card">
                        <div class="card-body">
                            <div style="float:left; margin:0; width:50%;">
                                STR
                                <br>
                                <h3><span id="str_mod">+0</span></h3>
                            </div>
                            <div style="float:left; margin:0; width:50%;">
                                <br>
                                <input type="number" id="str_attr" style="text-align: center; height:35px; width: 45px" min="0" max="30" value="10" oninput="set_ability_mod('str_attr','str_mod')"></input>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <<<<<<< HEAD:S.D._Project/Front_end/homepage.html <div style="float:left; margin:0; width:50%;">
                                DEX
                                <br>
                                <h3><span id="dex_mod">+0</span></td>
                                </h3>
                        </div>
                        <div style="float:left; margin:0; width:50%;">
                            <input type="number" id="dex_attr" style="k" min="0" max="30" value="10" oninput="set_ability_mod('dex_attr','dex_mod')"></input>
                        </div>
                        ======= DEX
                        <br>
                        <h3><span id="dex_mod">+0</span></td>
                        </h3>
                        <input type="number" id="dex_attr" style="text-align: center; width: 45px" min="0" max="30" value="10" oninput="set_ability_mod('dex_attr','dex_mod')"></input>
                        >>>>>>> bc0eea3af2b72c4033dd4341ccec08599c8cc731:views/homepage.ejs
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div style="float:left; margin:0; width:50%;">
                            CON
                            <br>
                            <h3><span id="con_mod">+0</span></h3>
                        </div>
                        <div style="float:left; margin:0; width:50%;">
                            <input type="number" id="con_attr" min="0" max="30" value="10" oninput="set_ability_mod('con_attr','con_mod')"></input>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div style="float:left; margin:0; width:50%;">
                            INT
                            <br>
                            <h3><span id="int_mod">+0</span></h3>
                        </div>
                        <div style="float:left; margin:0; width:50%;">
                            <input type="number" id="int_attr" min="0" max="30" value="10" oninput="set_ability_mod('int_attr','int_mod')"></input>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div style="float:left; margin:0; width:50%;">
                            WIS
                            <br>
                            <h3><span id="wis_mod">+0</span></h3>
                        </div>
                        <div style="float:left; margin:0; width:50%;">
                            <input type="number" id="wis_attr" min="0" max="30" value="10" oninput="set_ability_mod('wis_attr','wis_mod')"></input>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div style="float:left; margin:0; width:50%;">
                            CHA
                            <br>
                            <h3><span id="cha_mod">+0</span></h3>
                        </div>
                        <div style="float:left; margin:0; width:50%;">
                            <input type="number" id="cha_attr" min="0" max="30" value="10" oninput="set_ability_mod('cha_attr','cha_mod')"></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Skills</h5>
                    <!--<a href="#" class="card-link">
                            <h6 class="card-subtitle mb-2 text-muted">Add Skill</h6>
                        </a>-->
                    <table class="table table-hover">
                        <tr>
                            <td><input type="checkbox" onchange="set_skill_bonus(this,'acrobatics_skill_mod','dex_mod')">&nbsp;Acrobatics</td>
                            <td><span id="acrobatics_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;Animal Handling</td>
                            <td><span id="animal_handling_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;Athletics</td>
                            <td><span id="athletics_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;Deception</td>
                            <td><span id="animal_handling_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;History</td>
                            <td> <span id="history_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;Insight</td>
                            <td><span id="insight_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;Intimidation</td>
                            <td><span id="investigation_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;Medicine</td>
                            <td><span id="medicine_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;Nature</td>
                            <td><span id="nature_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;Perception</td>
                            <td> <span id="perception_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;Performance</td>
                            <td><span id="performance_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;Persuasion</td>
                            <td><span id="persuasion_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;Religion</td>
                            <td><span id="religion_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;Sleight of Hand</td>
                            <td><span id="sleight_of_hand_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;Stealth</td>
                            <td> <span id="stealth_skill_mod">+0</span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">&nbsp;Survival</td>
                            <td><span id="survival_skill_mod">+0</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Features</h5>
                    <textarea rows="35" cols="50"></textarea>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Spells</h5>
                        <a href="#" class="card-link">
                            <h6 class="card-subtitle mb-2 text-muted">Add Spell</h6>
                        </a>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                <p>name: Acid Arrow level: 2 school: evocation classes: wizard</p>
                                <h1 id="acid-arrow">Acid Arrow</h1>
                                <p><em>2nd-level evocation</em></p>
                                <p><strong>Casting Time:</strong> 1 action<br><strong>Range:</strong> 90 feet<br><strong>Components:</strong> V, S, M (powdered rhubarb leaf and an adder’s stomach)<br><strong>Duration:</strong> Instantaneous </p>
                                <p>A shimmering green arrow streaks toward a target within range and bursts in a spray of acid. Make a ranged spell attack against the target. On a hit, the target takes 4d4 acid damage immediately and 2d4 acid damage at the
                                    end of its next turn. On a miss, the arrow splashes the target with acid for half as much of the initial damage and no damage at the end of its next turn. </p>
                                <p><strong>At Higher Levels.</strong> When you cast this spell using a spell slot of 3rd level or higher, the damage (both initial and later) increases by 1d4 for each slot level above 2nd.</p>
                            </li>
                            <li class="list-group-item">Spell</li>
                            <li class="list-group-item">Spell</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <a href="/meettheteam">Meet The Team!</a>
</footer>

</html>