<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meet The Team</title>
  <link rel="stylesheet" href="/css/creators.css">
  <link rel="icon" href="img/logoiconnew.jpg">
  <link href="https://fonts.googleapis.com/css?family=Varela&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <!-- <ul class = "navlinks">
    <li><a href="></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul> -->
  <h1>Meet The Team</h1>
  <div class="RowOne">
    <section>
      <h2><a id = "1"></a>John Griffin</h2>
      <a href="https://github.com/JohnGriffin01"><img src="/img/john.jpg" width="300" height="300" alt="John"></a>
      <p>Hello, I used to work at Walt Disney World, I am passionate about animation and code, and I've been skydiving.</p>
      </section>

    <section>
      <h2><a id = "2"></a>Jackson Dubart</h2>
      <a href="https://github.com/jacksondubart"><img src="/img/jackson.jpeg" width="300" height="300" alt="jackson"></a>
      <p>Hello, I love developing front-end code! I am passionate about snowboarding and going to concerts, and love to enjoy the company of others.</p>
    </section>
  </div>

  <div class="RowTwo">
    <section>
      <h2><a id = "3"></a>Kalei Lewis</h2>
      <a href="https://github.com/kale6834"><img src="/img/kalei.jpg" width="300" height="300" alt="kalei"></a>
      <p>My name is Kalei. I am a junior at CU Boulder. I enjoy playing video games and doing puzzles in my free time.</p>
    </section>
    <section>
      <h2><a id = "4"></a>Erik Rhodes</h2>
      <div class="imagehov">
        <a href="https://github.com/e-rhodes"><img src="/img/erik.jpg" width="300" height="300" alt="Erik"></a>
      </div>
      <p>Hello my name is Erik, and I'm a junior at CU Boulder!  I enjoy playing Dungeons and Dragons and coding in my free time!</p>
    </section>
  </div>
  <section>
    <h2><a id = "5"></a>Zeyu Feng</h2>
    <div class="imagehov">
      <a href="https://github.com/zeyufeng"><img src = "/img/zeyu.jpg" width="300" height="300"alt = "zeyu"></a>
    </div>
  </section>

  <footer><p>&copy; Team Supreme 2020</p></footer>
</div>
</body>
</html>
