<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="creators.css">
    <title>Meet the Creators</title>
</head>
<h1>Meet The Developers</h1>

<body>

    <h2>John Griffin</h2>
    <img class="rounded-circle" src="/img/john.jpg"  width="300" height="300" alt="image1">
    <div class="card bg-light text-dark">
        <div class="card-body">
            Hello, I used to work at Walt Disney World, I am passionate about animation and code, and I've been skydiving.
        </div>
    </div>
    <h2>Jackson Dubart</h2>
    <img class="rounded-circle" src="/img/jackson.jpeg" width="300" height="300" alt="/img/jackson.jpeg">
    <div class="card bg-light text-dark">
        <div class="card-body">
            Hello, I love developing front-end code! I am passionate about snowboarding and going to concerts, and love to enjoy the company of others.
        </div>
    </div>
    <h2>Kalei Lewis</h2>
    <img class="rounded-circle" src="/img/kalei.jpg" width="300" height="300" alt="image3">
    <div class="card bg-light text-dark">
        <div class="card-body">
            My name is Kalei. I am a junior at CU Boulder. I enjoy playing video games and doing puzzles in my free time.
        </div>
    </div>
    <h2>Erik Rhodes</h2>
    <img class="rounded-circle" src="/img/erik.jpg"  width="300" height="300"alt="image4">
    <div class="card bg-light text-dark">
        <div class="card-body">
            Hello my name is Erik, and I am going to fill in this discription and image!
        </div>
    </div>
    <h2>Zeyu Feng</h2>
    <img class="rounded-circle" src="https://via.placeholder.com/300" width="300" height="300" alt="image5">
    <div class="card bg-light text-dark">
        <div class="card-body">
            Hello my name is Zeyu, and I am going to fill in this discription and image!
        </div>
    </div>
</body>

</html>
